@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap");

* {
  font-family: "Hahmlet", serif;
}

.bg {
  width: 360px;
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bg-grid.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.bucket {
  width: 160px;
  height: 160px;
  background-size: cover;
  background-position: center;
}

.img1 {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bucket-red.png");
}

.img2 {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bucket-lightred.png");
}

.title {
  background-color: lightcoral;
  border-radius: 10px;
  padding: 4px 14px;
  color: white;
}

.msg {
  margin: -5px 0 15px;
}
